body {
  font-family: constantia, sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, gray, green 170%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0px;
  font-size: 15px;
}

img {
  padding: 5px 0 0 5px;
}

#container {
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
  padding: 50px;
}

#cube {
  position: relative;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 2s;
  -webkit-transform-style: preserve-3d;
}

.face {
  position: absolute;
  height: 360px;
  width: 360px;
  padding: 20px;
  background-color: rgba(50, 50, 50, 0.7);
}

#cube .one {
  -webkit-transform: rotateX(90deg) translateZ(200px);
}

#cube .two {
  -webkit-transform: translateZ(200px);
}

#cube .three {
  -webkit-transform: rotateY(90deg) translateZ(200px);
}

#cube .four {
  -webkit-transform: rotateY(180deg) translateZ(200px);
}

#cube .five {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
}

#cube .six {
  -webkit-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
}

